.kk-toast {
    z-index: 10;
    position: fixed;
    width: 300px;
    height: fit-content;
    padding: 20px;
    background-color: var(--main-background-color);
    border: 1px solid var(--light-border-color);
    border-radius: var(--kk-radius);
    right: -100%;
    top: 10px;
    transition: right 0.5s ease-in-out;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.kk-toast-visible {
    right: 10px;
    display: flex;
    flex-direction: row;
}

.kk-toast-hidden {
    right: -100% !important; /* Положение при исчезании */
}

.kk-toast-body {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    margin-bottom: 0px;
}

.header-text {
    font-size: 24px;
    font-weight: 800;
}

.message {
    width: 100%;
}

.message-text {
    font-size: 20px;
    font-weight: 600;
    color: var(--main-font-color);
}

.header-text-success {
    color: var(--secondary-accent-color);
}

.header-text-info {
    color: var(--info-color);
}

.header-text-warning {
    color: var(--warning-color);
}

.header-text-error {
    color: var(--error-color);
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
